Repository AuroraSong14/Aurora-Song-14, pull requests merged in 2025-09, with the labels that each got.

#438 Issue fixing
  Resources/Prototypes/_AS/Construction/structures.yml
  Resources/Prototypes/_AS/station_payouts.yml
  Resources/Prototypes/_EE/Body/Organs/ipc.yml
  Resources/Prototypes/_EE/Body/Parts/ipc.yml
  Resources/Prototypes/_EE/Body/Prototypes/ipc.yml
  Resources/Prototypes/_EE/Entities/Mobs/Customization/antenna.yml
  Resources/Prototypes/_EE/Entities/Mobs/Customization/bishop.yml
  Resources/Prototypes/_EE/Entities/Mobs/Customization/hephiastos.yml
  Resources/Prototypes/_EE/Entities/Mobs/Customization/morpheus.yml
  Resources/Prototypes/_EE/Entities/Mobs/Customization/screens.yml
  Resources/Prototypes/_EE/Entities/Mobs/Customization/shellguard.yml
  Resources/Prototypes/_EE/Entities/Mobs/Customization/wardtakahashi.yml
  Resources/Prototypes/_EE/Entities/Mobs/Customization/xion.yml
  Resources/Prototypes/_EE/Entities/Mobs/Customization/zenghu.yml
  Resources/Prototypes/_EE/Entities/Mobs/Player/ipc.yml
  Resources/Prototypes/_EE/Entities/Mobs/Player/silicon_base.yml
  Resources/Prototypes/_EE/InventoryTemplates/ipc_inventory_template.yml
  Resources/Prototypes/_EE/SoundCollections/buzzes.yml
  Resources/Prototypes/_EE/SoundCollections/emotes.yml
  Resources/Prototypes/_EE/Species/ipc.yml
  Resources/Prototypes/_EE/Voice/speech_emote_sounds.yml
  Resources/Prototypes/_EE/Voice/speech_emotes.yml
  Resources/Prototypes/_NF/Catalog/Fills/Boxes/emergency.yml
  Resources/Prototypes/_NF/Entities/Structures/Storage/magnetbox.yml
  Resources/Prototypes/_NF/Loadouts/Jobs/Contractor/survival.yml
  Resources/Prototypes/_NF/Loadouts/Jobs/Nfsd/survival.yml
  Resources/Prototypes/_NF/Loadouts/contractor_loadout_groups.yml
  Resources/Prototypes/_NF/Loadouts/loadout_effects.yml
  Resources/Prototypes/_NF/Loadouts/nfsd_loadout_groups.yml
  Resources/Prototypes/_NF/Roles/Jobs/Nfsd/deputy.yml
  Resources/Prototypes/_NF/Roles/Jobs/Nfsd/nfdetective.yml
Labels: size/M, YML, No C#, S: Needs Review

#439 Libid effect length fix, LBN purge
  Resources/Prototypes/Floof/Reagents/Aphrodisiacs/narcotics.yml
  Resources/Prototypes/Reagents/elements.yml
  Resources/Prototypes/_AS/Reagents/Aphrodisiacs/Narcotics.yml
Labels: S: Untriaged, size/XS, YML, No C#

#441 Lock Chemvend Ships Behind Medical Access
  Resources/Prototypes/_NF/Shipyard/caladrius.yml
  Resources/Prototypes/_NF/Shipyard/eagle.yml
  Resources/Prototypes/_NF/Shipyard/vitalis.yml
Labels: S: Untriaged, size/XS, YML, No C#, Map-Shuttle

#445 Shuttle (New) BH Mule
  Resources/Maps/_AS/Shuttles/mule.yml
  Resources/Prototypes/_AS/Shipyard/mule.yml
Labels: S: Untriaged, YML, No C#, Map-Shuttle, S: Needs Review

#448 Exfiltrators branch assigned
  Resources/Locale/en-US/_AS/smuggling/deadrop.ftl
  Resources/Maps/_AS/Shuttles/Exfiltrators/stalker.yml
  Resources/Prototypes/_AS/Catalog/exfil_uplink_catalog.yml
  Resources/Prototypes/_AS/Entities/Clothing/Ears/headsets.yml
  Resources/Prototypes/_AS/Entities/Objects/Devices/production.yml
  Resources/Prototypes/_AS/Entities/Objects/Specific/syndicate.yml
  Resources/Prototypes/_AS/Entities/Structures/Shuttles/thrusters.yml
  Resources/Prototypes/_AS/PointsOfInterest/voidpostdelta.yml
  Resources/Prototypes/_AS/Smuggling/report_message_sets.yml
  Resources/Prototypes/_AS/station_payouts.yml
Labels: Donotmerge, size/M, S: Untriaged, FTL, YML, No C#

#442 Comment name changes on frontier, allow explosions
  Resources/Maps/_NF/Outpost/frontier.yml
  Resources/Prototypes/_NF/Maps/Outpost/frontier.yml
Labels: S: Untriaged, YML, size/S, No C#, Map-Outpost

#447 Smuggling flavor overhaul
  Content.Server/_NF/Smuggling/Components/DeadDropComponent.cs
  Content.Server/_NF/Smuggling/DeadDropSystem.cs
  Resources/Locale/en-US/_AS/smuggling/deaddrop-note.ftl
  Resources/Locale/en-US/_AS/smuggling/deaddrop.ftl
  Resources/Maps/_AS/POI/Nyx.yml
  Resources/Prototypes/_AS/Entities/Objects/Weapons/Guns/Ammunition/Projectiles/energy.yml
  Resources/Prototypes/_AS/PointsOfInterest/nyx.yml
  Resources/Prototypes/_NF/Entities/Structures/Specific/TradingCrates/crates.yml
  Resources/Prototypes/_NF/Events/nf_events.yml
  Resources/Prototypes/_NF/PointsOfInterest/lpbravo.yml
  Resources/Prototypes/_NF/Smuggling/report_message_sets.yml
Labels: S: Untriaged, size/L, C#, FTL, YML

#451 Shuttle (Update) BH Mule
  Resources/Maps/_AS/Shuttles/mule.yml
  Resources/Prototypes/_NF/Shipyard/tyne.yml
Labels: S: Untriaged, YML, size/S, No C#, Map-Shuttle

#446 Shuttle (New) BH Scorpion
  Resources/Maps/_AS/Shuttles/Expedition/scorpion.yml
  Resources/Prototypes/_AS/Shipyard/Expedition/scorpion.yml
Labels: YML, No C#, size/XL, Map-Shuttle

#454 Smuggling hotfix
  Resources/Prototypes/_NF/Events/nf_events.yml
Labels: S: Untriaged, size/XS, YML, No C#

#457 fix new mk58-s and DoC
  Resources/Prototypes/_AS/Entities/Objects/Weapons/Guns/Pistols/pistols.yml
  Resources/Prototypes/_NF/Roles/Jobs/Medical/doc.yml
Labels: S: Untriaged, YML, size/S, No C#

#456 Shuttle (Update) BH Mule (Dirt update)
  Resources/Maps/_AS/Shuttles/mule.yml
Labels: S: Untriaged, YML, No C#

#471 Add EmptyOnMachineDeconstruct component to dispensers.
  Resources/Prototypes/Entities/Structures/Dispensers/base_structuredispensers.yml
Labels: S: Untriaged, YML, No C#

#470 Add Inheritance to Markings
  Content.Shared/Humanoid/Markings/MarkingManager.cs
  Content.Shared/Humanoid/Markings/MarkingPrototype.cs
  Content.Shared/Humanoid/Markings/MarkingsSet.cs
  Resources/Prototypes/Entities/Mobs/Customization/Markings/tattoos.yml
  Resources/Prototypes/Entities/Mobs/Customization/Markings/vox_tattoos.yml
  Resources/Prototypes/_AS/Entities/Mobs/Customization/Markings/base.yml
  Resources/Prototypes/_AS/Entities/Mobs/Customization/Markings/base_species.yml
  Resources/Prototypes/_Impstation/Entities/Mobs/Customization/Markings/tattoos.yml
Labels: size/M, C#, YML

#476 Body Bags Have High-Vis Tape (#1608)
  Resources/Prototypes/Entities/Objects/Specific/Medical/morgue.yml
  Resources/Textures/Objects/Specific/Medical/Morgue/bodybags.rsi/bag_overlay.png
  Resources/Textures/Objects/Specific/Medical/Morgue/bodybags.rsi/meta.json
Labels: S: Untriaged, Sprites, YML, size/S, No C#

#478 Hotfix: Panacea: Add thrusters and fix doors
  Resources/Maps/_AS/Shuttles/panacea.yml
Labels: YML, No C#

#479 Industrial reagent grinder temporary increase
  Resources/Prototypes/Entities/Structures/Machines/reagent_grinder.yml
Labels: S: Untriaged, size/XS, YML, No C#

#483 DRM fix and Ship Scan Cherry Pick
  Content.Client/Shuttles/UI/MapScreen.xaml.cs
  Content.Server/Construction/ConstructionSystem.Computer.cs
  Content.Server/Construction/ConstructionSystem.Machine.cs
  Content.Server/_NF/BindToStation/BindToStationSystem.cs
Labels: S: Untriaged, C#, size/S, UI

#492 [TWEAK]: Allow machines to pull from a linked silo, provided they are on the same grid
  Content.Shared/Materials/OreSilo/SharedOreSiloSystem.cs
  Resources/Prototypes/Entities/Structures/Machines/silo.yml
Labels: S: Untriaged, size/XS, C#, YML

#495 Port harpy suit (Frontier #3747)
  Resources/Textures/_NF/Clothing/OuterClothing/Hardsuits/maxim_prototype.rsi/equipped-OUTERCLOTHING-harpy.png
  Resources/Textures/_NF/Clothing/OuterClothing/Hardsuits/maxim_prototype.rsi/meta.json
Labels: S: Untriaged, size/XS, Sprites, No C#

#489 Shuttle (Update) BH Heartbeat (Link Engi bay doors)
  Resources/Maps/_AS/Shuttles/heartbeat.yml
Labels: size/M, S: Untriaged, YML, No C#

#477 Add MagnetPickup component to wallets
  Resources/Prototypes/_NF/Entities/Clothing/Wallet/base_wallet.yml
Labels: size/XS, YML, No C#

#500 [TWEAK]: Increase the size of portable generators fuel storage
  Resources/Prototypes/Entities/Structures/Power/Generation/portable_generator.yml
  Resources/Prototypes/_NF/Entities/Structures/Power/Generation/portable_generator.yml
Labels: S: Untriaged, size/XS, YML, No C#

#510 add consent check for chems
  Content.Shared/EntityEffects/EntityEffect.cs
  Content.Shared/_AS/Consent/EntityEffects/ConsentCondition.cs
  Content.Shared/_Floof/Consent/SharedConsentSystem.cs
  Resources/Locale/en-US/_AS/consent/consent-groups.ftl
  Resources/Locale/en-US/_AS/consent/consent.ftl
  Resources/Prototypes/Floof/Reagents/Aphrodisiacs/medicine.yml
  Resources/Prototypes/_AS/Consent/consent_groups.yml
  Resources/Prototypes/consent.yml
Labels: size/M, C#, FTL, YML

#507 New Shuttle: Cybersun Adept
  Resources/Maps/_AS/Shuttles/Expedition/adept.yml
  Resources/Prototypes/_AS/Shipyard/Expedition/adept.yml
Labels: S: Untriaged, size/L, YML, No C#, Map-Shuttle

#516 Hotfix: Cybersun adept
  Resources/Maps/_AS/Shuttles/Expedition/adept.yml
Labels: S: Untriaged, size/L, YML, No C#

#518 Update AmeNodeGroup.cs
  Content.Server/Ame/AmeNodeGroup.cs
Labels: S: Untriaged, C#, S: Needs Review
