Repository AuroraSong14/Aurora-Song-14, pull requests merged in 2025-08, with the labels that each got.

#242 bug fixing/ QoL
  Content.Shared/Ame/Components/AmeFuelContainerComponent.cs
  Content.Shared/_NF/Contraband/Components/ContrabandPalletComponent.cs
  Resources/Locale/en-US/_NF/store/uplink-catalog.ftl
  Resources/Locale/en-US/_NF/tips.ftl
  Resources/Prototypes/Catalog/Cargo/cargo_medical.yml
  Resources/Prototypes/Catalog/Fills/Backpacks/duffelbag.yml
  Resources/Prototypes/Catalog/Fills/Crates/salvage.yml
  Resources/Prototypes/Entities/Objects/Consumable/Food/produce.yml
  Resources/Prototypes/Entities/Objects/Weapons/Guns/Ammunition/Magazines/caseless_rifle.yml
  Resources/Prototypes/Floof/Reagents/Aphrodisiacs/medicine.yml
  Resources/Prototypes/Magic/event_spells.yml
  Resources/Prototypes/Recipes/Reactions/drinks.yml
  Resources/Prototypes/_AS/Catalog/Fills/Lockers/lockers_wallmount.yml
  Resources/Prototypes/_AS/Entities/Structures/Machines/vending_machines.yml
  Resources/Prototypes/_NF/Catalog/Fills/Backpacks/npc_loot_mercenaries.yml
  Resources/Prototypes/_NF/Catalog/Fills/Backpacks/npc_loot_syndicate.yml
  Resources/Prototypes/_NF/Catalog/Fills/Items/weapon_cases_expedition.yml
  Resources/Prototypes/_NF/Catalog/VendingMachines/Inventories/DEBUGguns.yml
  Resources/Prototypes/_NF/Catalog/uplink_catalog.yml
  Resources/Prototypes/_NF/Entities/Markers/Spawners/Random/dungeon_items_weapons.yml
  Resources/Prototypes/_NF/Entities/Objects/Storage/pouches.yml
  Resources/Prototypes/_NF/Entities/Objects/Weapons/Guns/Ammunition/Magazines/rifle25.yml
  Resources/Prototypes/_NF/Entities/Objects/Weapons/Guns/Crossbow/crossbow.yml
  Resources/Prototypes/_NF/Entities/Objects/Weapons/Guns/Revolvers/revolvers.yml
  Resources/Prototypes/_NF/Entities/Objects/Weapons/Guns/expedition_guns.yml
  Resources/nf_migration.yml
Labels: size/M, S: Untriaged, C#, FTL, YML

#243 HRT and Forcefem
  Resources/Locale/en-US/_AS/flavors/flavor-profiles.ftl
  Resources/Locale/en-US/_AS/reagents/aphrodisiacs.ftl
  Resources/Locale/en-US/_AS/reagents/meta/medicine.ftl
  Resources/Locale/en-US/_AS/reagents/meta/physical-desc.ftl
  Resources/Prototypes/_AS/Reactions/medicine.yml
  Resources/Prototypes/_AS/Reactions/narcotics.yml
  Resources/Prototypes/_AS/Reagents/Aphrodisiacs/Narcotics.yml
  Resources/Prototypes/_AS/Reagents/medicine.yml
Labels: size/M, S: Untriaged, FTL, YML, No C#

#246 PR Changelogs workflow fix
  .github/workflows/changelog.yml
Labels: S: Untriaged, size/XS, YML, No C#

#247 IPC SetOutfit fix
  Content.Server/_EinsteinEngines/Silicon/IPC/InternalEncryptionKeySpawner.cs
Labels: size/XS, C#

#201 Plasma launcher
  Content.Server/PlasmaGun/PlasmaGunsSystem.cs
  Content.Shared/PlasmaGun/PlasmaGunComponent.cs
  Content.Shared/PlasmaGun/SharedPlasmaGunsSystem.cs
  Resources/Locale/en-US/_NF/weapons/gun-examine.ftl
  Resources/Prototypes/_AS/Entities/Objects/Weapons/Guns/Ammunition/Projectiles/energy.yml
  Resources/Prototypes/_AS/Entities/Objects/Weapons/Guns/Plasma/base_plasma_rifle.yml
  Resources/Prototypes/_AS/Entities/Objects/Weapons/Guns/Plasma/plasma.yml
  Resources/Textures/_AS/Objects/Weapons/Guns/PAS-2_Scourer.rsi/base.png
  Resources/Textures/_AS/Objects/Weapons/Guns/PAS-2_Scourer.rsi/equipped-BACKPACK.png
  Resources/Textures/_AS/Objects/Weapons/Guns/PAS-2_Scourer.rsi/icon.png
  Resources/Textures/_AS/Objects/Weapons/Guns/PAS-2_Scourer.rsi/inhand-left.png
  Resources/Textures/_AS/Objects/Weapons/Guns/PAS-2_Scourer.rsi/inhand-right.png
  Resources/Textures/_AS/Objects/Weapons/Guns/PAS-2_Scourer.rsi/mag-0.png
  Resources/Textures/_AS/Objects/Weapons/Guns/PAS-2_Scourer.rsi/meta.json
  Resources/Textures/_AS/Objects/Weapons/Guns/PAS-2_Scourer.rsi/wielded-inhand-left.png
  Resources/Textures/_AS/Objects/Weapons/Guns/PAS-2_Scourer.rsi/wielded-inhand-right.png
Labels: size/M, S: Untriaged, Sprites, C#, FTL, YML

#249 Bring IPC encryption key code up to standard
  Content.Server/Administration/Commands/SetOutfitCommand.cs
  Content.Server/_EinsteinEngines/Silicon/IPC/InternalEncryptionKeySpawner.cs
  Content.Shared/Station/SharedStationSpawningSystem.cs
  Content.Shared/_AS/IPC/InternalEncryptionLoadoutSystem.cs
  Resources/Prototypes/_EinsteinEngines/Entities/Mobs/Player/ipc.yml
  Resources/Prototypes/_EinsteinEngines/InventoryTemplates/ipc_inventory_template.yml
Labels: size/M, C#, YML, S: Needs Review

#251 Forcefem flavor text tweak
  Resources/Locale/en-US/_AS/reagents/aphrodisiacs.ftl
  Resources/Prototypes/_AS/Reagents/Aphrodisiacs/Narcotics.yml
Labels: FTL, YML, No C#

#254 Port aluminium aphrodisiac cleansing
  Resources/Prototypes/Reagents/elements.yml
Labels: YML, size/S, No C#

#255 Spooders cherry pick
  Content.Server/Atmos/Rotting/RottingSystem.cs
  Content.Server/Spider/SpiderSystem.cs
  Content.Shared/Cuffs/Components/HandcuffComponent.cs
  Resources/Prototypes/Entities/Objects/Misc/handcuffs.yml
  Resources/Prototypes/Entities/Objects/Misc/spider_web.yml
  Resources/Prototypes/Recipes/Construction/Graphs/web.yml
  Resources/Prototypes/Recipes/Construction/web.yml
  Resources/Prototypes/Recipes/Crafting/Graphs/web.yml
  Resources/Prototypes/Recipes/Crafting/web.yml
  Resources/Textures/Clothing/OuterClothing/Misc/webcocoon.rsi/body-overlay-2.png
  Resources/Textures/Clothing/OuterClothing/Misc/webcocoon.rsi/cocoon.png
  Resources/Textures/Clothing/OuterClothing/Misc/webcocoon.rsi/meta.json
  Resources/Textures/Structures/Web/nest.rsi/icon.png
  Resources/Textures/Structures/Web/nest.rsi/meta.json
Labels: size/M, S: Untriaged, Sprites, C#, YML

#259 Stripper pole and nothing else
  Resources/Locale/en-US/_Floof/Structures/lewdstructures.ftl
  Resources/Prototypes/Catalog/Fills/Lockers/security.yml
  Resources/Prototypes/Entities/Objects/Specific/chemical-containers.yml
  Resources/Prototypes/Floof/Entities/Structures/Furniture/stripper_pole.yml
  Resources/Prototypes/Floof/Recipes/Construction/Graphs/furniture/lewds.yml
  Resources/Prototypes/Floof/Recipes/Construction/furniture.yml
  Resources/Textures/Floof/Structures/pole.rsi/meta.json
  Resources/Textures/Floof/Structures/pole.rsi/pole.png
  Resources/Textures/Floof/Structures/pole.rsi/pole_base.png
Labels: size/M, Sprites, FTL, YML, No C#

#267 Added bus schedule for arrivals route
  Resources/Prototypes/_NF/Entities/Structures/Wallmounts/bus_schedule.yml
  Resources/Prototypes/_NF/public_transit_routes.yml
Labels: S: Untriaged, YML, size/S, No C#

#271 Bus fuckery
  Resources/Locale/en-US/_AS/bluespace-events/events.ftl
  Resources/Locale/en-US/_NF/bluespace-events/events.ftl
  Resources/Prototypes/_NF/Entities/Structures/Wallmounts/bus_schedule.yml
  Resources/Prototypes/_NF/Events/nf_bluespace_grids_events.yml
  Resources/Prototypes/_NF/public_transit_routes.yml
Labels: S: Untriaged, FTL, YML, No C#

#245 Contraband Handling LicenSe
  Content.Client/_AS/License/UI/LicenseConsoleBoundUserInterface.cs
  Content.Client/_AS/License/UI/LicenseConsoleMenu.xaml
  Content.Client/_AS/License/UI/LicenseConsoleMenu.xaml.cs
  Content.Shared/PDA/PdaComponent.cs
  Content.Shared/PDA/SharedPdaSystem.cs
  Content.Shared/Preferences/Loadouts/LoadoutPrototype.cs
  Content.Shared/Roles/StartingGearPrototype.cs
  Content.Shared/Station/SharedStationSpawningSystem.cs
  Content.Shared/_AS/License/Components/LicenseComponent.cs
  Content.Shared/_AS/License/Components/LicenseConsoleComponent.cs
  Content.Shared/_AS/License/Events/PrintLicenseMessage.cs
  Content.Shared/_AS/License/LicenseSystem.cs
  Resources/Audio/Floof/Voice/Vulpkanin/attritbutions.yml
  Resources/Locale/en-US/_AS/license/license.ftl
  Resources/Prototypes/Entities/Objects/Devices/pda.yml
  Resources/Prototypes/_AS/Contraband/contraband_classes.yml
  Resources/Prototypes/_AS/Entities/Objects/Devices/Circuitboards/computer.yml
  Resources/Prototypes/_AS/Entities/Objects/Devices/Misc/licenses.yml
  Resources/Prototypes/_AS/Entities/Structures/Machines/Computers/computers.yml
  Resources/Prototypes/_AS/tags.yml
  Resources/Prototypes/_NF/Roles/Jobs/Civilian/mercenary.yml
  Resources/Textures/_AS/Objects/Specific/License/contraband_handling_license.rsi/icon.png
  Resources/Textures/_AS/Objects/Specific/License/contraband_handling_license.rsi/inhand-left.png
  Resources/Textures/_AS/Objects/Specific/License/contraband_handling_license.rsi/inhand-right.png
  Resources/Textures/_AS/Objects/Specific/License/contraband_handling_license.rsi/meta.json
Labels: Donotmerge, size/M, Sprites, C#, FTL, YML, UI, priority / medium

#269 Added Ci1rus's SLE uniforms and hardsuits
  Resources/Prototypes/_AS/Entities/Clothing/Head/base_clothinghead.yml
  Resources/Prototypes/_AS/Entities/Clothing/Head/hardsuit-helmets.yml
  Resources/Prototypes/_AS/Entities/Clothing/OuterClothing/base_clothingouter.yml
  Resources/Prototypes/_AS/Entities/Clothing/OuterClothing/hardsuits.yml
  Resources/Prototypes/_AS/Entities/Clothing/Uniforms/jumpskirts.yml
  Resources/Prototypes/_AS/Entities/Clothing/Uniforms/jumpsuits.yml
  Resources/Prototypes/_NF/Catalog/security_uplink_catalog.yml
  Resources/Prototypes/_NF/Loadouts/Jobs/Bailiff/jumpsuit.yml
  Resources/Prototypes/_NF/Loadouts/Jobs/Brigmedic/jumpsuit.yml
  Resources/Prototypes/_NF/Loadouts/Jobs/Cadet/jumpsuit.yml
  Resources/Prototypes/_NF/Loadouts/Jobs/Deputy/jumpsuit.yml
  Resources/Prototypes/_NF/Loadouts/Jobs/SeniorOfficer/jumpsuit.yml
  Resources/Prototypes/_NF/Loadouts/Jobs/Sheriff/jumpsuit.yml
  Resources/Prototypes/_NF/Loadouts/bailiff_loadout_groups.yml
  Resources/Prototypes/_NF/Loadouts/brigmedic_loadout_groups.yml
  Resources/Prototypes/_NF/Loadouts/cadet_loadout_groups.yml
  Resources/Prototypes/_NF/Loadouts/deputy_loadout_groups.yml
  Resources/Prototypes/_NF/Loadouts/senior_officer_loadout_groups.yml
  Resources/Prototypes/_NF/Loadouts/sheriff_loadout_groups.yml
  Resources/Textures/_AS/Clothing/Head/Hardsuits/sle_combat.rsi/icon-flash.png
  Resources/Textures/_AS/Clothing/Head/Hardsuits/sle_combat.rsi/icon.png
  Resources/Textures/_AS/Clothing/Head/Hardsuits/sle_combat.rsi/meta.json
  Resources/Textures/_AS/Clothing/Head/Hardsuits/sle_combat.rsi/off-equipped-HELMET-feroxi.png
  Resources/Textures/_AS/Clothing/Head/Hardsuits/sle_combat.rsi/off-equipped-HELMET-vox.png
  Resources/Textures/_AS/Clothing/Head/Hardsuits/sle_combat.rsi/off-equipped-HELMET-vulpkanin.png
  Resources/Textures/_AS/Clothing/Head/Hardsuits/sle_combat.rsi/off-equipped-HELMET.png
  Resources/Textures/_AS/Clothing/Head/Hardsuits/sle_combat.rsi/on-equipped-HELMET-feroxi.png
  Resources/Textures/_AS/Clothing/Head/Hardsuits/sle_combat.rsi/on-equipped-HELMET-vox.png
  Resources/Textures/_AS/Clothing/Head/Hardsuits/sle_combat.rsi/on-equipped-HELMET-vulpkanin.png
  Resources/Textures/_AS/Clothing/Head/Hardsuits/sle_combat.rsi/on-equipped-HELMET.png
  Resources/Textures/_AS/Clothing/OuterClothing/Hardsuits/sle_combat.rsi/equipped-OUTERCLOTHING-harpy.png
  Resources/Textures/_AS/Clothing/OuterClothing/Hardsuits/sle_combat.rsi/equipped-OUTERCLOTHING-vox.png
  Resources/Textures/_AS/Clothing/OuterClothing/Hardsuits/sle_combat.rsi/equipped-OUTERCLOTHING.png
  Resources/Textures/_AS/Clothing/OuterClothing/Hardsuits/sle_combat.rsi/icon.png
  Resources/Textures/_AS/Clothing/OuterClothing/Hardsuits/sle_combat.rsi/inhand-left.png
  Resources/Textures/_AS/Clothing/OuterClothing/Hardsuits/sle_combat.rsi/inhand-right.png
  Resources/Textures/_AS/Clothing/OuterClothing/Hardsuits/sle_combat.rsi/meta.json
  Resources/Textures/_AS/Clothing/Uniforms/Jumpskirt/sle_jumpskirt.rsi/equipped-INNERCLOTHING.png
  Resources/Textures/_AS/Clothing/Uniforms/Jumpskirt/sle_jumpskirt.rsi/icon.png
  Resources/Textures/_AS/Clothing/Uniforms/Jumpskirt/sle_jumpskirt.rsi/inhand-left.png
  Resources/Textures/_AS/Clothing/Uniforms/Jumpskirt/sle_jumpskirt.rsi/inhand-right.png
  Resources/Textures/_AS/Clothing/Uniforms/Jumpskirt/sle_jumpskirt.rsi/meta.json
  Resources/Textures/_AS/Clothing/Uniforms/Jumpsuit/sle_jumpsuit.rsi/equipped-INNERCLOTHING.png
  Resources/Textures/_AS/Clothing/Uniforms/Jumpsuit/sle_jumpsuit.rsi/icon.png
  Resources/Textures/_AS/Clothing/Uniforms/Jumpsuit/sle_jumpsuit.rsi/inhand-left.png
  Resources/Textures/_AS/Clothing/Uniforms/Jumpsuit/sle_jumpsuit.rsi/inhand-right.png
  Resources/Textures/_AS/Clothing/Uniforms/Jumpsuit/sle_jumpsuit.rsi/meta.json
Labels: size/M, Sprites, YML, No C#, priority / medium

#280 Shipyard consoles for edison
  Content.Server/_NF/Manufacturing/Components/GasSpawnPowerConsumerComponent.cs
  Content.Server/_NF/Power/Components/PowerTransmissionComponent.cs
  Content.Shared/_NF/Manufacturing/Components/EntitySpawnPowerConsumerComponent.cs
  Resources/Maps/_NF/POI/edison.yml
  Resources/Prototypes/Entities/Structures/Power/Generation/PA/particles.yml
Labels: S: Untriaged, C#, YML, No C#, Map-POI

#282 Increase medical bounty rewards and enable gas extraction
  Content.Shared/_NF/CCVar/NFCCVars.cs
  Resources/Prototypes/_NF/Catalog/Bounties/medical_bounties.yml
Labels: enhancement, C#, YML, priority / low

#285 Misc changes
  Resources/Prototypes/Recipes/Lathes/rehydrateable.yml
  Resources/Prototypes/_NF/Catalog/Fills/Lockers/heads.yml
  Resources/Prototypes/_NF/Entities/Objects/Devices/plant_analyzer.yml
Labels: size/XS, YML, No C#

#286 update pois
  Resources/Locale/en-US/_AS/bluespace-events/events.ftl
  Resources/Locale/en-US/_NF/bluespace-events/events.ftl
  Resources/Maps/_AS/POI/sle_outpost.yml
  Resources/Maps/_NF/Outpost/frontier.yml
  Resources/Prototypes/_EE/Entities/Clothing/OuterClothing/hardsuits.yml
Labels: size/M, S: Untriaged, FTL, YML, No C#, Map-Outpost

#279 SLE Patrol Softsuit
  Resources/Locale/en-US/_AS/store/uplink-catalog.ftl
  Resources/Prototypes/_AS/Entities/Clothing/Head/hardsuit_helmets.yml
  Resources/Prototypes/_AS/Entities/Clothing/Head/softsuit_helmets.yml
  Resources/Prototypes/_AS/Entities/Clothing/OuterClothing/base_clothingouter.yml
  Resources/Prototypes/_AS/Entities/Clothing/OuterClothing/hardsuits.yml
  Resources/Prototypes/_AS/Entities/Clothing/OuterClothing/softsuits.yml
  Resources/Prototypes/_NF/Catalog/security_uplink_catalog.yml
  Resources/Textures/_AS/Clothing/Head/Softsuits/sle_patrol.rsi/icon-flash.png
  Resources/Textures/_AS/Clothing/Head/Softsuits/sle_patrol.rsi/icon.png
  Resources/Textures/_AS/Clothing/Head/Softsuits/sle_patrol.rsi/inhand-left.png
  Resources/Textures/_AS/Clothing/Head/Softsuits/sle_patrol.rsi/inhand-right.png
  Resources/Textures/_AS/Clothing/Head/Softsuits/sle_patrol.rsi/meta.json
  Resources/Textures/_AS/Clothing/Head/Softsuits/sle_patrol.rsi/off-equipped-HELMET-feroxi.png
  Resources/Textures/_AS/Clothing/Head/Softsuits/sle_patrol.rsi/off-equipped-HELMET-vox.png
  Resources/Textures/_AS/Clothing/Head/Softsuits/sle_patrol.rsi/off-equipped-HELMET-vulpkanin.png
  Resources/Textures/_AS/Clothing/Head/Softsuits/sle_patrol.rsi/off-equipped-HELMET.png
  Resources/Textures/_AS/Clothing/Head/Softsuits/sle_patrol.rsi/on-equipped-HELMET-feroxi.png
  Resources/Textures/_AS/Clothing/Head/Softsuits/sle_patrol.rsi/on-equipped-HELMET-vox.png
  Resources/Textures/_AS/Clothing/Head/Softsuits/sle_patrol.rsi/on-equipped-HELMET-vulpkanin.png
  Resources/Textures/_AS/Clothing/Head/Softsuits/sle_patrol.rsi/on-equipped-HELMET.png
  Resources/Textures/_AS/Clothing/OuterClothing/Softsuits/sle_patrol.rsi/equipped-OUTERCLOTHING-harpy.png
  Resources/Textures/_AS/Clothing/OuterClothing/Softsuits/sle_patrol.rsi/equipped-OUTERCLOTHING-vox.png
  Resources/Textures/_AS/Clothing/OuterClothing/Softsuits/sle_patrol.rsi/equipped-OUTERCLOTHING.png
  Resources/Textures/_AS/Clothing/OuterClothing/Softsuits/sle_patrol.rsi/icon.png
  Resources/Textures/_AS/Clothing/OuterClothing/Softsuits/sle_patrol.rsi/inhand-left.png
  Resources/Textures/_AS/Clothing/OuterClothing/Softsuits/sle_patrol.rsi/inhand-right.png
  Resources/Textures/_AS/Clothing/OuterClothing/Softsuits/sle_patrol.rsi/meta.json
Labels: size/M, Sprites, FTL, YML, No C#, S: Needs Review

#287 plant technician and plant manager pay
  Resources/Prototypes/_Aurora/station_payouts.yml
Labels: YML, size/S, No C#

#288 Bug fixing
  Resources/Maps/_AS/POI/sle_outpost.yml
Labels: S: Untriaged, YML, No C#

#290 bark bark bark bark bark
  Resources/Prototypes/DeltaV/Entities/Mobs/NPCs/animals.yml
Labels: YML, No C#

#291 Update misc_startinggear.yml
  Resources/Prototypes/DeltaV/Roles/Jobs/Fun/misc_startinggear.yml
Labels: YML, No C#

#296 Update nfsd.png
  Resources/Textures/_NF/Structures/Wallmounts/signs.rsi/nfsd.png
Labels: S: Untriaged, size/XS

#308 big bugfix patch
  Resources/Locale/en-US/_NF/bluespace-events/events.ftl
  Resources/Locale/en-US/_NF/job/job-description.ftl
  Resources/Locale/en-US/administration/commands/announce-command.ftl
  Resources/Locale/en-US/administration/ui/admin-announce-window.ftl
  Resources/Locale/en-US/alert-levels/alert-levels.ftl
  Resources/Locale/en-US/chat/managers/chat-manager.ftl
  Resources/Locale/en-US/communications/communications-console-component.ftl
  Resources/Locale/en-US/game-ticking/game-presets/preset-nukeops.ftl
  Resources/Locale/en-US/job/department.ftl
  Resources/Locale/en-US/prayers/prayers.ftl
  Resources/Locale/en-US/prototypes/access/accesses.ftl
  Resources/Maps/_AS/POI/sle_outpost.yml
  Resources/Maps/_AS/POI/the_alley.yml
  Resources/Prototypes/DeltaV/Entities/Mobs/NPCs/pets.yml
  Resources/Prototypes/DeltaV/Roles/Jobs/Fun/misc_startinggear.yml
  Resources/Prototypes/_NF/Catalog/Fills/Paper/forms_nfsd.yml
  Resources/Prototypes/_NF/Entities/Objects/Misc/bedsheets.yml
Labels: size/M, FTL, YML, No C#

#309 the prisoner is real yeah access yeah honk shooo
  Resources/Locale/en-US/_AS/prototypes/access/accesses.ftl
  Resources/Prototypes/Access/misc.yml
  Resources/Prototypes/Entities/Objects/Misc/identification_cards.yml
  Resources/Prototypes/_AS/Access/security.yml
  Resources/Prototypes/_AS/Entities/Objects/Devices/Electronics/door_access.yml
  Resources/Prototypes/_AS/Entities/Structures/Doors/Airlocks/airlocks.yml
  Resources/Prototypes/_NF/Access/security.yml
  Resources/Prototypes/_NF/Roles/Jobs/Nfsd/bailiff.yml
  Resources/Prototypes/_NF/Roles/Jobs/Nfsd/brigmedic.yml
  Resources/Prototypes/_NF/Roles/Jobs/Nfsd/nfdetective.yml
  Resources/Prototypes/_NF/Roles/Jobs/Nfsd/senior_officer.yml
  Resources/Prototypes/_NF/Roles/Jobs/Wildcards/prisoner.yml
Labels: S: Untriaged, FTL, YML, size/S, No C#

#310 make a commish beret
  Resources/Prototypes/_AS/Entities/Clothing/Head/hats.yml
  Resources/Prototypes/_NF/Loadouts/Jobs/Sheriff/head.yml
  Resources/Prototypes/_NF/Loadouts/sheriff_loadout_groups.yml
  Resources/Textures/_AS/Clothing/Head/Hats/beret_commissioner.rsi/equipped-HELMET-hamster.png
  Resources/Textures/_AS/Clothing/Head/Hats/beret_commissioner.rsi/equipped-HELMET.png
  Resources/Textures/_AS/Clothing/Head/Hats/beret_commissioner.rsi/icon.png
  Resources/Textures/_AS/Clothing/Head/Hats/beret_commissioner.rsi/inhand-left.png
  Resources/Textures/_AS/Clothing/Head/Hats/beret_commissioner.rsi/inhand-right.png
  Resources/Textures/_AS/Clothing/Head/Hats/beret_commissioner.rsi/meta.json
Labels: S: Untriaged, Sprites, YML, size/S, No C#

#303 make checkout interact hidden from others
  Resources/Prototypes/Interactions/noop_interactions.yml
Labels: YML, No C#

#314 sleo updates
  Resources/Maps/_AS/POI/sle_outpost.yml
Labels: size/M, YML, No C#

#315 map fixes
  Resources/Maps/_AS/POI/sle_outpost.yml
  Resources/Maps/_AS/POI/the_alley.yml
Labels: size/M, S: Untriaged, YML, No C#

#319 UIV's as small fleets ( i did it right this time)
  Resources/Locale/en-US/_NF/bluespace-events/events.ftl
  Resources/Prototypes/_NF/Events/nf_bluespace_grids_events.yml
Labels: FTL, YML, size/S, No C#, S: Needs Review, priority / low

#321 adjusted name of trait and references thereof from offensive language
  Content.Shared/Traits/Assorted/LegsParalyzedComponent.cs
  Resources/Locale/en-US/traits/traits.ftl
  Resources/Prototypes/_NF/Traits/disabilities.yml
Labels: S: Untriaged, C#, FTL, YML, size/S

#323 Bug fixing
  Resources/Locale/en-US/_NF/bluespace-events/events.ftl
  Resources/Maps/_AS/POI/sle_outpost.yml
Labels: size/M, S: Untriaged, FTL, YML, No C#

#326 big patch
  Resources/Maps/_AS/POI/sle_outpost.yml
  Resources/Maps/_NF/Outpost/frontier.yml
  Resources/Prototypes/DeltaV/Entities/Mobs/NPCs/pets.yml
  Resources/Prototypes/_AS/Catalog/Fills/Lockers/heads.yml
  Resources/Prototypes/_AS/Entities/Structures/Storage/Closets/Lockers/lockers.yml
  Resources/Prototypes/_NF/Entities/Structures/Storage/Closets/Lockers/lockers.yml
  Resources/Prototypes/_NF/radio_channels.yml
Labels: size/M, S: Untriaged, YML, No C#, Map-Outpost

#328 Mobs arms and legs marking limit increase
  Resources/Prototypes/Nyanotrasen/Species/felinid.yml
  Resources/Prototypes/Species/moth.yml
  Resources/Prototypes/Species/slime.yml
  Resources/Prototypes/_DV/Species/feroxi.yml
  Resources/Prototypes/_DV/Species/rodentia.yml
  Resources/Prototypes/_DV/Species/vulpkanin.yml
  Resources/Prototypes/_NF/Species/goblin.yml
Labels: S: Untriaged, YML, size/S, No C#

#327 Dragonfly & Dove Air Alarm Configuration
  Resources/Maps/_NF/Shuttles/Expedition/decadedove.yml
  Resources/Maps/_NF/Shuttles/Expedition/dragonfly.yml
Labels: S: Untriaged, No C#, size/XL, Map-Shuttle

#349 Revert "fix vault spawns"
  Resources/Prototypes/_NF/Events/nf_bluespace_grids_events.yml
Labels: S: Untriaged, YML, No C#

#317 TG Harvester Atmospheric Shuttle
  Resources/Maps/_AS/Shuttles/Expedition/harvester.yml
  Resources/Prototypes/_AS/Shipyard/Expedition/harvester.yml
Labels: YML, No C#, size/XL, S: Needs Review, priority / low

#353 HRT port from imp, remove old hormone recipie
  Resources/Locale/en-US/_AS/reagents/meta/medicine.ftl
  Resources/Locale/en-US/_Impstation/flavors/flavor-profiles.ftl
  Resources/Locale/en-US/_Impstation/reagents/meta/biological.ftl
  Resources/Locale/en-US/_Impstation/reagents/meta/consumable/drink/soda.ftl
  Resources/Locale/en-US/_Impstation/reagents/meta/physical-desc.ftl
  Resources/Prototypes/_AS/Reactions/medicine.yml
  Resources/Prototypes/_AS/Reactions/narcotics.yml
  Resources/Prototypes/_AS/Reagents/medicine.yml
  Resources/Prototypes/_Impstation/Flavors/flavors.yml
  Resources/Prototypes/_Impstation/Reagents/Consumable/Drink/soda.yml
  Resources/Prototypes/_Impstation/Reagents/fun.yml
  Resources/Prototypes/_Impstation/Recipes/Reactions/chemicals.yml
  Resources/Prototypes/_Impstation/Recipes/Reactions/drinks.yml
  Resources/Textures/_Impstation/Objects/Consumable/Drinks/genderfluid.rsi/fill-1.png
  Resources/Textures/_Impstation/Objects/Consumable/Drinks/genderfluid.rsi/fill-2.png
  Resources/Textures/_Impstation/Objects/Consumable/Drinks/genderfluid.rsi/fill-3.png
  Resources/Textures/_Impstation/Objects/Consumable/Drinks/genderfluid.rsi/fill-4.png
  Resources/Textures/_Impstation/Objects/Consumable/Drinks/genderfluid.rsi/icon.png
  Resources/Textures/_Impstation/Objects/Consumable/Drinks/genderfluid.rsi/icon_empty.png
  Resources/Textures/_Impstation/Objects/Consumable/Drinks/genderfluid.rsi/meta.json
Labels: size/M, S: Untriaged, Sprites, FTL, YML, No C#

#355 WHO WANTS TO ATMOS MINE ON PLANETS?
  Resources/Prototypes/_NF/Procedural/salvage_mods.yml
Labels: S: Untriaged, YML, size/S, No C#

#351 second attempt re-add collectors
  Resources/Prototypes/Catalog/Cargo/cargo_engines.yml
  Resources/Prototypes/_NF/Entities/Markers/Spawners/Random/cargo.yml
Labels: S: Untriaged, size/XS, YML, No C#

#393 Reduce LBN poison damage
  Resources/Prototypes/_AS/Reagents/Aphrodisiacs/Narcotics.yml
Labels: S: Untriaged, size/XS, YML, No C#

#403 [FIX]: Laika can now use the radio
  Resources/Prototypes/DeltaV/Entities/Mobs/NPCs/animals.yml
  Resources/Prototypes/DeltaV/Entities/Mobs/NPCs/pets.yml
Labels: S: Untriaged, YML, size/S, No C#

#402 improve ux of contraband console
  Content.Server/_NF/Contraband/Systems/ContrabandTurnInSystem.cs
  Content.Shared/_NF/Contraband/Components/ContrabandPalletComponent.cs
  Content.Shared/_NF/Contraband/SharedContrabandTurnInSystem.cs
  Resources/Locale/en-US/_AS/license/license.ftl
  Resources/Prototypes/_AS/Entities/Structures/Machines/Computers/computers.yml
  Resources/Prototypes/_NF/Entities/Structures/Machines/Computers/computers.yml
Labels: size/M, S: Untriaged, C#, FTL, YML

#407 Clown Admeme npc lootbox fixes
  Resources/Prototypes/_AS/Catalog/Fills/Backpacks/npc_loot_clowns.yml
Labels: YML, No C#

#410 Task List Groups
  Content.Server/_AS/AutoSensor/AutoSensorSystem.cs
  Content.Server/_AS/StationPay/StationPaySystem.cs
  Content.Server/_AS/TaskList/Systems/TaskListSystem.cs
  Content.Shared/_AS/CCVars/ASCCVars.cs
  Content.Shared/_AS/TaskList/Components/PlayerTaskDatabaseComponent.cs
  Content.Shared/_AS/TaskList/TaskGroupPrototype.cs
  Content.Shared/_AS/TaskList/TaskPrototype.cs
  Resources/Locale/en-US/_AS/TaskList/tasks.ftl
  Resources/Prototypes/_AS/Catalog/Task/Tasks/civilian_tasks.yml
  Resources/Prototypes/_AS/Catalog/Task/Tasks/exfiltrator_tasks.yml
  Resources/Prototypes/_AS/Catalog/Task/Tasks/medical_tasks.yml
  Resources/Prototypes/_AS/Catalog/Task/Tasks/mercenary_tasks.yml
  Resources/Prototypes/_AS/Catalog/Task/Tasks/pirate_tasks.yml
  Resources/Prototypes/_AS/Catalog/Task/Tasks/sle_tasks.yml
  Resources/Prototypes/_AS/Catalog/Task/task_groups.yml
  Resources/Prototypes/_AS/TaskList/Tasks/tasks.yml
Labels: size/M, C#, FTL, YML

#418 Renewable olive oil is good
  Resources/Prototypes/_AS/Recipes/Reactions/food.yml
Labels: S: Untriaged, YML, size/S, No C#

#411 Exfiltrator Tasks
  Resources/Locale/en-US/_AS/TaskList/tasks.ftl
  Resources/Prototypes/Entities/Clothing/Masks/specific.yml
  Resources/Prototypes/Entities/Clothing/OuterClothing/hardsuits.yml
  Resources/Prototypes/Entities/Objects/Devices/chameleon_projector.yml
  Resources/Prototypes/Entities/Objects/Devices/encryption_keys.yml
  Resources/Prototypes/Entities/Objects/Tools/access_breaker.yml
  Resources/Prototypes/Entities/Objects/Tools/emag.yml
  Resources/Prototypes/Entities/Objects/Tools/jaws_of_life.yml
  Resources/Prototypes/Entities/Objects/Tools/jetpacks.yml
  Resources/Prototypes/Entities/Objects/Weapons/Melee/e_sword.yml
  Resources/Prototypes/_AS/Catalog/Task/Tasks/exfiltrator_tasks.yml
  Resources/Prototypes/_AS/tags.yml
  Resources/Prototypes/_NF/Entities/Objects/Weapons/Guns/LMGs/lmgs.yml
  Resources/Prototypes/_NF/Entities/Objects/Weapons/Guns/Launchers/launchers.yml
  Resources/Prototypes/_NF/Entities/Objects/Weapons/Guns/Pistols/pistols.yml
  Resources/Prototypes/_NF/Entities/Objects/Weapons/Guns/Revolvers/revolvers.yml
  Resources/Prototypes/_NF/Entities/Objects/Weapons/Guns/Rifles/rifles.yml
  Resources/Prototypes/_NF/Entities/Objects/Weapons/Guns/Rifles/rifles_assault.yml
  Resources/Prototypes/_NF/Entities/Objects/Weapons/Guns/Rifles/rifles_sniper.yml
  Resources/Prototypes/_NF/Entities/Objects/Weapons/Guns/SMGs/smgs.yml
  Resources/Prototypes/_NF/Entities/Objects/Weapons/Guns/Shotguns/shotguns.yml
Labels: size/M, S: Untriaged, FTL, YML, No C#

#424 blacked-out MK
  Resources/Textures/_AS/Objects/Weapons/Guns/Pistols/mk58.rsi/base.png
  Resources/Textures/_AS/Objects/Weapons/Guns/Pistols/mk58.rsi/bolt-open.png
  Resources/Textures/_AS/Objects/Weapons/Guns/Pistols/mk58.rsi/equipped-BELT.png
  Resources/Textures/_AS/Objects/Weapons/Guns/Pistols/mk58.rsi/equipped-SUITSTORAGE.png
  Resources/Textures/_AS/Objects/Weapons/Guns/Pistols/mk58.rsi/icon.png
  Resources/Textures/_AS/Objects/Weapons/Guns/Pistols/mk58.rsi/inhand-left.png
  Resources/Textures/_AS/Objects/Weapons/Guns/Pistols/mk58.rsi/inhand-right.png
  Resources/Textures/_AS/Objects/Weapons/Guns/Pistols/mk58.rsi/mag-0.png
  Resources/Textures/_AS/Objects/Weapons/Guns/Pistols/mk58.rsi/meta.json
Labels: S: Untriaged, Sprites, size/S, No C#

#425 fix mk sprite mismatch
  Resources/Textures/Objects/Weapons/Guns/Pistols/mk58.rsi/base.png
  Resources/Textures/Objects/Weapons/Guns/Pistols/mk58.rsi/bolt-open.png
  Resources/Textures/Objects/Weapons/Guns/Pistols/mk58.rsi/icon.png
  Resources/Textures/Objects/Weapons/Guns/Pistols/mk58.rsi/meta.json
Labels: S: Untriaged, Sprites, No C#

#427 Universal 45 caliber change
  Resources/Prototypes/_NF/Entities/Objects/Weapons/Guns/Pistols/pistols.yml
Labels: S: Untriaged, size/XS, YML, No C#

#430 Directer of KILLING (Doc armed and angry)
  Resources/Prototypes/_AS/Catalog/Fills/Lockers/heads.yml
  Resources/Prototypes/_NF/Roles/Jobs/Medical/doc.yml
Labels: YML, size/S, No C#

#431 Arrival Station YML Fix
  Resources/Maps/_AS/POI/arrival_station.yml
Labels: S: Untriaged, YML, size/S, No C#

#429 Shuttle (New) BH Campfire
  Resources/Maps/_AS/Shuttles/campfire.yml
  Resources/Prototypes/_AS/Shipyard/campfire.yml
  Resources/Prototypes/_NF/Shipyard/Sr/duchess.yml
  Resources/Prototypes/_NF/Shipyard/nook.yml
  Resources/Prototypes/_NF/Shipyard/skipper.yml
Labels: S: Untriaged, YML, No C#, size/XL, Map-Shuttle

#432 I am going to self merge this because april told me to
  Resources/Textures/_Impstation/Objects/Consumable/Drinks/genderfluid.rsi/meta.json
Labels: size/XS, Sprites, No C#

#434 Shipyard testing workflow changes, and hopefulyl a fix for changelogs
  .github/workflows/changelog.yml
  .github/workflows/nf-mapchecker.yml
  .github/workflows/nf-shipyard-tests.yml
  .github/workflows/publish.yml
Labels: YML, size/S, No C#

#433 Remove Alley bottle box custom fill.
  Resources/Maps/_AS/POI/the_alley.yml
Labels: S: Untriaged, YML, No C#
