Repository AuroraSong14/Aurora-Song-14, pull requests merged in 2025-07, with the labels that each got.

#149 Weapons changes, adds the Falchion and increases the rate of fire of the surplus drozd burst
  Resources/Locale/en-US/_AS/Weapons/gun-examine.ftl
  Resources/Locale/en-US/_AS/store/uplink-catalog.ftl
  Resources/Prototypes/_AS/Catalog/mercenary_uplink_catalog.yml
  Resources/Prototypes/_NF/Entities/Objects/Weapons/Guns/SMGs/smgs.yml
  Resources/Prototypes/_NF/Entities/Objects/Weapons/Guns/Shotguns/shotguns.yml
Labels: S: Untriaged, FTL, YML, size/S, No C#

#158 Event announcement flavor changes
  Resources/Locale/en-US/_NF/bluespace-events/events.ftl
Labels: FTL, size/S, No C#

#153 Description changes, Bailiff ghost chance
  Resources/Prototypes/_AS/Entities/Objects/Weapons/Guns/Shotguns/shotguns.yml
Labels: S: Untriaged, size/XS, YML, No C#

#161 cherry-pick https://github.com/DeltaV-Station/Delta-v/pull/1870
  Resources/Locale/en-US/deltav/clothing/belts.ftl
  Resources/Prototypes/DeltaV/Catalog/Fills/Items/Belts/belts.yml
  Resources/Prototypes/DeltaV/Entities/Clothing/Belt/belts.yml
  Resources/Prototypes/Entities/Clothing/Belt/belts.yml
  Resources/Prototypes/Nyanotrasen/Entities/Clothing/Belt/belts.yml
  Resources/Prototypes/_NF/Catalog/Fills/Items/belt.yml
  Resources/Textures/_DV/Clothing/Belt/belt_overlay.rsi/baton.png
  Resources/Textures/_DV/Clothing/Belt/belt_overlay.rsi/flashbang.png
  Resources/Textures/_DV/Clothing/Belt/belt_overlay.rsi/gasgrenade.png
  Resources/Textures/_DV/Clothing/Belt/belt_overlay.rsi/katana.png
  Resources/Textures/_DV/Clothing/Belt/belt_overlay.rsi/medkit.png
  Resources/Textures/_DV/Clothing/Belt/belt_overlay.rsi/meta.json
  Resources/Textures/_DV/Clothing/Belt/belt_overlay.rsi/slp.png
  Resources/Textures/_DV/Clothing/Belt/belt_overlay.rsi/universal.png
  Resources/Textures/_DV/Clothing/Belt/belt_overlay.rsi/wakizashi.png
  Resources/Textures/_DV/Clothing/Belt/cmowebbing.rsi/equipped-BELT.png
  Resources/Textures/_DV/Clothing/Belt/cmowebbing.rsi/icon.png
  Resources/Textures/_DV/Clothing/Belt/cmowebbing.rsi/inhand-left.png
  Resources/Textures/_DV/Clothing/Belt/cmowebbing.rsi/inhand-right.png
  Resources/Textures/_DV/Clothing/Belt/cmowebbing.rsi/meta.json
  Resources/Textures/_DV/Clothing/Belt/corpsman.rsi/equipped-BELT.png
  Resources/Textures/_DV/Clothing/Belt/corpsman.rsi/icon.png
  Resources/Textures/_DV/Clothing/Belt/corpsman.rsi/inhand-left.png
  Resources/Textures/_DV/Clothing/Belt/corpsman.rsi/inhand-right.png
  Resources/Textures/_DV/Clothing/Belt/corpsman.rsi/meta.json
  Resources/Textures/_DV/Clothing/Belt/security.rsi/equipped-BELT.png
  Resources/Textures/_DV/Clothing/Belt/security.rsi/icon.png
  Resources/Textures/_DV/Clothing/Belt/security.rsi/inhand-left.png
  Resources/Textures/_DV/Clothing/Belt/security.rsi/inhand-right.png
  Resources/Textures/_DV/Clothing/Belt/security.rsi/meta.json
  Resources/Textures/_DV/Clothing/Belt/securitywebbing.rsi/equipped-BELT.png
  Resources/Textures/_DV/Clothing/Belt/securitywebbing.rsi/icon.png
  Resources/Textures/_DV/Clothing/Belt/securitywebbing.rsi/inhand-left.png
  Resources/Textures/_DV/Clothing/Belt/securitywebbing.rsi/inhand-right.png
  Resources/Textures/_DV/Clothing/Belt/securitywebbing.rsi/meta.json
Labels: size/M, S: Untriaged, Sprites, FTL, YML, No C#

#162 Job name change
  Resources/Locale/en-US/_NF/accent/caveman.ftl
  Resources/Locale/en-US/_NF/chat/highlights.ftl
  Resources/Locale/en-US/_NF/holopad/holopad.ftl
  Resources/Locale/en-US/_NF/job/job-description.ftl
  Resources/Locale/en-US/_NF/job/job-names.ftl
  Resources/Locale/en-US/_NF/job/job-supervisors.ftl
  Resources/Locale/en-US/_NF/lobby/station.ftl
  Resources/Locale/en-US/_NF/prototypes/access/accesses.ftl
  Resources/Locale/en-US/_NF/research/blueprint.ftl
  Resources/Locale/en-US/_NF/store/store.ftl
  Resources/Locale/en-US/_NF/store/uplink-catalog.ftl
  Resources/Locale/en-US/_NF/tips.ftl
  Resources/Locale/en-US/alert-levels/alert-levels.ftl
  Resources/Prototypes/Entities/Markers/Spawners/jobs.yml
  Resources/Prototypes/_NF/Entities/Clothing/Neck/badges.yml
  Resources/Prototypes/_NF/Entities/Markers/Spawners/jobs.yml
  Resources/Prototypes/_NF/Entities/Objects/Devices/Misc/identification_cards.yml
  Resources/Prototypes/_NF/Entities/Objects/Devices/Misc/ship_vouchers.yml
  Resources/Prototypes/_NF/Entities/Objects/Misc/rubber_stamp.yml
  Resources/Prototypes/_NF/Entities/Structures/Machines/fax_machine.yml
Labels: size/M, S: Untriaged, FTL, YML, No C#

#169 Potion Seller ship.
  Resources/Maps/_AS/Shuttles/potion_seller.yml
  Resources/Prototypes/_AS/Shipyard/PotionSeller.yml
Labels: S: Untriaged, size/L, YML, No C#

#173 AKMS Admeme guns, may find a spot for it later
  Resources/Prototypes/_AS/Entities/Objects/Weapons/Guns/rifles/rifles_assault.yml
Labels: S: Untriaged, YML, No C#

#126 Scurret Port!
  Resources/Audio/Ambience/Antag/attributions.yml
  Resources/Audio/Ambience/Antag/traitor_wawa.ogg
  Resources/Audio/Animals/attributions.yml
  Resources/Audio/Animals/wawa_achoo.ogg
  Resources/Audio/Animals/wawa_chatter.ogg
  Resources/Audio/Animals/wawa_chillin.ogg
  Resources/Audio/Animals/wawa_depression.ogg
  Resources/Audio/Animals/wawa_exclaim.ogg
  Resources/Audio/Animals/wawa_mock.ogg
  Resources/Audio/Animals/wawa_protest.ogg
  Resources/Audio/Animals/wawa_question.ogg
  Resources/Audio/Animals/wawa_statement.ogg
  Resources/Locale/en-US/chat/managers/chat-manager.ftl
  Resources/Locale/en-US/datasets/names/scurret_first.ftl
  Resources/Locale/en-US/datasets/names/scurret_last.ftl
  Resources/Locale/en-US/scurret copy/role.ftl
  Resources/Prototypes/Accents/full_replacements.yml
  Resources/Prototypes/Catalog/Cargo/cargo_fun.yml
  Resources/Prototypes/Catalog/Fills/Crates/fun.yml
  Resources/Prototypes/Datasets/Names/scurret.yml
  Resources/Prototypes/Entities/Markers/Spawners/Random/posters.yml
  Resources/Prototypes/Entities/Mobs/NPCs/scurret.yml
  Resources/Prototypes/Entities/Objects/Devices/pda.yml
  Resources/Prototypes/Entities/Structures/Wallmounts/Signs/posters.yml
  Resources/Prototypes/InventoryTemplates/scurret_inventory_template.yml
  Resources/Prototypes/Palettes/critters.yml
  Resources/Prototypes/Roles/Jobs/Fun/misc_startinggear.yml
  Resources/Prototypes/SoundCollections/scurret.yml
  Resources/Prototypes/Voice/speech_emote_sounds.yml
  Resources/Prototypes/Voice/speech_sounds.yml
  Resources/Prototypes/Voice/speech_verbs.yml
  Resources/Textures/Mobs/Animals/scurret/displacement.rsi/ears.png
  Resources/Textures/Mobs/Animals/scurret/displacement.rsi/eyes.png
  Resources/Textures/Mobs/Animals/scurret/displacement.rsi/gloves.png
  Resources/Textures/Mobs/Animals/scurret/displacement.rsi/hand.png
  Resources/Textures/Mobs/Animals/scurret/displacement.rsi/head.png
  Resources/Textures/Mobs/Animals/scurret/displacement.rsi/id.png
  Resources/Textures/Mobs/Animals/scurret/displacement.rsi/jumpsuit.png
  Resources/Textures/Mobs/Animals/scurret/displacement.rsi/mask.png
  Resources/Textures/Mobs/Animals/scurret/displacement.rsi/meta.json
  Resources/Textures/Mobs/Animals/scurret/displacement.rsi/neck.png
  Resources/Textures/Mobs/Animals/scurret/scurret.rsi/meta.json
  Resources/Textures/Mobs/Animals/scurret/scurret.rsi/scurret.png
  Resources/Textures/Mobs/Animals/scurret/scurret.rsi/scurret_oof.png
  Resources/Textures/Mobs/Animals/scurret/scurret.rsi/scurret_rip.png
  Resources/Textures/Structures/Wallmounts/posters.rsi/meta.json
  Resources/Textures/Structures/Wallmounts/posters.rsi/poster55_legit.png
Labels: size/M, Sprites, FTL, YML, No C#, Audio

#176 Lowered antique power cell spawns
  Resources/Prototypes/Entities/Markers/Spawners/Random/Salvage/tables_loot.yml
Labels: S: Untriaged, size/XS, YML, No C#

#184 Begone dildo
  Resources/Prototypes/Catalog/Fills/Lockers/misc.yml
  Resources/Prototypes/Entities/Objects/Specific/syndicate.yml
  Resources/Prototypes/_AS/Entities/Objects/Specifics/mercenary.yml
Labels: YML, size/S, No C#

#185 Potion seller made BETTER
  Resources/Maps/_AS/Shuttles/potion_seller.yml
  Resources/Prototypes/_AS/Shipyard/PotionSeller.yml
Labels: YML, No C#

#187 Hotfix potion seller
  Resources/Maps/_AS/Shuttles/potion_seller.yml
Labels: size/M, YML, No C#

#192 Bug fixing
  Resources/Locale/en-US/_AS/reagents/meta/medicine.ftl
  Resources/Prototypes/_AS/Catalog/Fills/Items/back.yml
  Resources/Prototypes/_AS/Catalog/Fills/Items/belt.yml
  Resources/Prototypes/_AS/Entities/Objects/Specific/chemical-containers.yml
  Resources/Prototypes/_AS/Entities/Objects/Specific/chemistry-vials.yml
  Resources/Prototypes/_AS/Entities/Objects/Specific/mercenary.yml
  Resources/Prototypes/_AS/Roles/Jobs/Special/admins.yml
  Resources/Prototypes/_NF/Entities/Clothing/OuterClothing/hardsuits.yml
Labels: size/M, FTL, YML, No C#

#197 Jetpack upstream merge
  Content.Client/_NF/Vehicles/VehicleSystem.cs
  Content.Server/Mech/Systems/MechSystem.cs
  Content.Server/NPC/Systems/NPCUtilitySystem.cs
  Content.Server/_Goobstation/Vehicles/VehicleSystem.cs
  Content.Server/_NF/NPC/Queries/Considerations/TargetIsNotStunnedCon.cs
  Content.Server/_NF/Radar/RadarBlipSystem.cs
  Content.Shared/Emag/Components/EmagComponent.cs
  Content.Shared/Emag/Systems/EmagSystem.cs
  Content.Shared/Light/EntitySystems/UnpoweredFlashlightSystem.cs
  Content.Shared/Mech/Components/MechComponent.cs
  Content.Shared/Movement/Components/JetpackComponent.cs
  Content.Shared/Movement/Systems/SharedJetpackSystem.cs
  Content.Shared/NPC/Components/NpcFactionMemberComponent.cs
  Content.Shared/_Goobstation/Vehicles/SharedVehicleComponent.cs
  Content.Shared/_Goobstation/Vehicles/SharedVehicleSystem.cs
  Content.Shared/_NF/Movement/Systems/SharedJetpackSystem.cs
  Content.Shared/_NF/Radar/RadarBlipComponent.cs
  Content.Shared/_NF/Radar/SharedRadarBlipSystem.cs
  Resources/Prototypes/Entities/Objects/Tools/jetpacks.yml
  Resources/Prototypes/_Goobstation/Entities/Objects/Vehicles/vehicles.yml
  Resources/Prototypes/_NF/Entities/Objects/Tools/jetpacks.yml
  Resources/Prototypes/_NF/Entities/Objects/Vehicles/vehicles.yml
  Resources/Prototypes/_NF/NPCs/utility_queries.yml
  Resources/Prototypes/_NF/Shipyard/lyrae.yml
  Resources/Prototypes/_NF/tags.yml
Labels: size/M, S: Untriaged, C#, YML, Map-Shuttle

#200 Bug fixing
  Resources/Locale/en-US/_AS/store/uplink-catalog.ftl
  Resources/Maps/_NF/Outpost/frontier.yml
  Resources/Maps/_NF/POI/lodge.yml
  Resources/Prototypes/_AS/Catalog/mercenary_uplink_catalog.yml
Labels: size/M, FTL, YML, No C#, Map-Outpost, Map-POI

#203 weapons patches
  Resources/Prototypes/_NF/Entities/Objects/Weapons/Guns/Rifles/base_rifle_assault.yml
  Resources/Textures/_NF/Objects/Weapons/Guns/Rifles/surplecter.rsi/base.png
  Resources/Textures/_NF/Objects/Weapons/Guns/Rifles/surplecter.rsi/bolt-open.png
  Resources/Textures/_NF/Objects/Weapons/Guns/Rifles/surplecter.rsi/icon.png
  Resources/Textures/_NF/Objects/Weapons/Guns/SMGs/surpdrozd.rsi/base.png
  Resources/Textures/_NF/Objects/Weapons/Guns/SMGs/surpdrozd.rsi/bolt-open.png
  Resources/Textures/_NF/Objects/Weapons/Guns/SMGs/surpdrozd.rsi/icon.png
  Resources/Textures/_NF/Objects/Weapons/Guns/Shotguns/surppump.rsi/bolt-open.png
  Resources/Textures/_NF/Objects/Weapons/Guns/Shotguns/surppump.rsi/equipped-BACKPACK.png
  Resources/Textures/_NF/Objects/Weapons/Guns/Shotguns/surppump.rsi/equipped-SUITSTORAGE.png
  Resources/Textures/_NF/Objects/Weapons/Guns/Shotguns/surppump.rsi/icon.png
  Resources/Textures/_NF/Objects/Weapons/Guns/Shotguns/surppump_inhands_64x.rsi/inhand-left.png
  Resources/Textures/_NF/Objects/Weapons/Guns/Shotguns/surppump_inhands_64x.rsi/inhand-right.png
  Resources/Textures/_NF/Objects/Weapons/Guns/Shotguns/surppump_inhands_64x.rsi/wielded-inhand-left.png
  Resources/Textures/_NF/Objects/Weapons/Guns/Shotguns/surppump_inhands_64x.rsi/wielded-inhand-right.png
Labels: S: Untriaged, size/XS, Sprites, YML, No C#

#204 add admin gun
  Resources/Prototypes/_AS/Catalog/mercenary_uplink_catalog.yml
  Resources/Prototypes/_AS/Entities/Objects/Weapons/Guns/rifles/rifles_assault.yml
  Resources/Prototypes/_AS/Roles/Jobs/Special/admins.yml
  Resources/Prototypes/_NF/Entities/Objects/Weapons/Guns/Rifles/rifles_assault.yml
  Resources/Textures/_AS/Objects/Weapons/Guns/Rifles/tflecter.rsi/base.png
  Resources/Textures/_AS/Objects/Weapons/Guns/Rifles/tflecter.rsi/bolt-open.png
  Resources/Textures/_AS/Objects/Weapons/Guns/Rifles/tflecter.rsi/equipped-BACKPACK.png
  Resources/Textures/_AS/Objects/Weapons/Guns/Rifles/tflecter.rsi/equipped-SUITSTORAGE.png
  Resources/Textures/_AS/Objects/Weapons/Guns/Rifles/tflecter.rsi/icon.png
  Resources/Textures/_AS/Objects/Weapons/Guns/Rifles/tflecter.rsi/inhand-left.png
  Resources/Textures/_AS/Objects/Weapons/Guns/Rifles/tflecter.rsi/inhand-right.png
  Resources/Textures/_AS/Objects/Weapons/Guns/Rifles/tflecter.rsi/mag-0.png
  Resources/Textures/_AS/Objects/Weapons/Guns/Rifles/tflecter.rsi/mag-1.png
  Resources/Textures/_AS/Objects/Weapons/Guns/Rifles/tflecter.rsi/mag-2.png
  Resources/Textures/_AS/Objects/Weapons/Guns/Rifles/tflecter.rsi/meta.json
  Resources/Textures/_AS/Objects/Weapons/Guns/Rifles/tflecter.rsi/wielded-inhand-left.png
  Resources/Textures/_AS/Objects/Weapons/Guns/Rifles/tflecter.rsi/wielded-inhand-right.png
Labels: size/M, S: Untriaged, Sprites, YML, No C#

#206 Removed drums, added drums
  Resources/Prototypes/_NF/Entities/Clothing/Wallet/base_wallet.yml
  Resources/Prototypes/_NF/Recipes/Lathes/Packs/blueprints.yml
  Resources/Prototypes/_NF/Research/techtree.yml
Labels: S: Untriaged, size/XS, YML, No C#

#211 Plant bag semi-unnerf
  Resources/Prototypes/Entities/Objects/Specific/Hydroponics/tools.yml
Labels: S: Untriaged, size/XS, YML, No C#

#212 Shotgun fixes
  Resources/Prototypes/_NF/Entities/Objects/Weapons/Guns/Shotguns/shotguns.yml
Labels: S: Untriaged, size/XS, YML, No C#

#221 Removed HideContexMenu from jetpacks
  Resources/Prototypes/Entities/Objects/Tools/jetpacks.yml
  Resources/Prototypes/_NF/Entities/Objects/Tools/jetpacks.yml
Labels: S: Untriaged, size/XS, YML, No C#

#224 Slimes and Ammo
  Resources/Prototypes/Entities/Mobs/NPCs/slimes.yml
  Resources/Prototypes/Entities/Mobs/Species/slime.yml
  Resources/Prototypes/_NF/Catalog/uplink_catalog.yml
Labels: S: Untriaged, size/XS, YML, No C#

#232 Update publish_multi_request.py
  Tools/publish_multi_request.py
Labels: size/XS, No C#

#230 Adult prompt
  Content.Client/_Floof/Info/NsfwDisclaimerSystem.cs
  Content.Client/_Floof/Info/NsfwDisclaimerWindow.xaml
  Content.Client/_Floof/Info/NsfwDisclaimerWindow.xaml.cs
  Content.Server/_Floof/Info/NsfwDisclaimerSystem.cs
  Content.Shared/_Floof/Info/ShowNsfwPopupDisclaimerMessage.cs
  Resources/Locale/en-US/_Floof/info/nsfw-disclaimer.ftl
Labels: size/M, S: Untriaged, C#, FTL, UI

#220 Rules part 2
  Resources/Prototypes/_NF/Guidebook/rules.yml
  Resources/ServerInfo/_AS/Guidebook/ERP_Rules.xml
  Resources/ServerInfo/_NF/Guidebook/NFSD/Smuggling.xml
  Resources/ServerInfo/_NF/Guidebook/Rules/12_Security.xml
  Resources/ServerInfo/_NF/Guidebook/Rules/FrontierRuleset.xml
Labels: S: Untriaged, Docs, YML, size/S, No C#, S: Needs Review

#238 Update frontier map entities
  Resources/Maps/_NF/Outpost/frontier.yml
Labels: S: Untriaged, size/S, No C#, Map-Outpost
